
body{
    background-color: #f5dd09ea;
    transition: 3s all;

}
.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    margin:auto;
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 3s all;
    /* background-image: url(skull.jpg); */
    background-size: cover;

}

.grid{
    width:100px;
    height: 100px;
    background-color: #f5dd09ea;
    /* border: 1px solid black; */
    padding: auto;
    font-size: 28px;
    margin:10px;
    box-shadow: 5px 10px 20px #dfb912ea;
    transition: 3s all;
    background-size:80%;
    background-repeat: no-repeat;
    background-position: center;
}

.grid span{
    display:none;
} 